body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/background_image.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: #333;
    overflow-x: hidden;
}

.header {
    background: linear-gradient(135deg, rgba(61, 30, 96), rgba(61, 30, 96));
    color: white;
    padding: 60px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.logo {
    width: 70px;
    height: auto;
    margin-right: 15px;
    vertical-align: middle;
}

.header h1 {
    font-size: 3em;
    margin: 0;
}

.header p {
    font-size: 1.2em;
    margin: 10px 0 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}

.intro, .reviews {
    background: white;
    border: 1px solid #e0e7ef;
    padding: 40px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
}

.intro-text h2, .form-container h2, .reviews h2 {
    color: #4CAF50;
    margin-bottom: 20px;
}

.features-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.features-section h2 {
    color: #4CAF50;
    margin-bottom: 20px;
}

.features-section .feature {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.features-section .feature-image {
    max-width: 100px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.features-section p {
    font-size: 1.2em;
    margin: 0;
}

.form-container {
    text-align: center;
}

.form-container .form-toggle {
    margin-bottom: 20px;
}

.form-container .toggle-btn {
    background-color: #f4f4f4;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    color: #4CAF50;
    font-size: 1em;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s, color 0.3s;
}

.form-container .toggle-btn.active {
    background-color: #4CAF50;
    color: white;
}

.form-container .toggle-btn:hover {
    background-color: #4CAF50;
    color: white;
}

.form-container form {
    display: none;
    animation: fadeIn 0.5s ease-in-out;
}

.form-container form.hidden {
    display: none;
}

.form-container form.active {
    display: block;
}

.form-container input, .form-container .submit-btn {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-container .submit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container .submit-btn:hover {
    background-color: #45a049;
}

.review {
    background: #eee;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.review-icon {
    font-size: 24px;
    margin-right: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
