<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TaskVault</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_tasks.css') }}">
</head>
<body>
    <div class="tasks-container">
        <header>
            <h1>TaskVault</h1>
        </header>
        <main>
            <div class="tasks-section">
                <h2>My Tasks</h2>
                <div class="tasks-list">
					{% for task in tasks %}
                    <div class="task-item">
                        <p class="task-title">{{ task.title }}</p>
                        <p class="task-due-date">{{ task.due_date }}</p>
                        <p class="task-desc">{{ task.description }}</p>
                        <div class="task-buttons">
                            <button class="edit-btn">Edit</button>
                            <button class="delete-btn">Delete</button>
                            <button class="complete-btn">Complete</button>
                        </div>
                    </div>
					{% endfor %}
                </div>
            </div>
            <div class="new-task-section">
                <h2>Create a new task</h2>
                <form class="new-task-form">
                    <input type="text" name="title" placeholder="Task Title" required>
                    <input type="date" name="due_date" required>
                    <textarea name="description" placeholder="Task Description"></textarea>
                    <button type="submit">Done</button>
                </form>
            </div>
        </main>
    </div>
</body>
</html>